################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OmdbApi.Api/bin/Debug/netcoreapp2.1
