################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OmdbApi.Api/bin/Debug/netcoreapp2.1
/.vs/OmdbApiProject/v15/Server/sqlite3
/.vs/config
/OmdbApi.Test/bin/Debug/netcoreapp2.1
/OmdbApi.Test/obj
/OmdbApi.DAL/obj/Release/netcoreapp2.1
/OmdbApi.DAL/bin/Debug/netcoreapp2.1
/.vs
/OmdbApi.Api/obj/Release/netcoreapp2.1
