<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Search Any Movie</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="search" id="search" v-model="term" class="form-control" placeholder="Search" required autofocus>
                                <label for="search">Search Movie</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" @click="searchMovie()">Search</button>
                            <hr class="my-4">

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div v-if="loading">
            <p><em>Loading...</em></p>
        </div>
        <div class="row" v-else-if="wholeResponse.length">
            <div class="col-sm-4" v-for="movie in wholeResponse">

                <div class="card" style="width: 22rem;">
                    <img v-bind:src="movie.poster" class="card-img-top" width="300px;" height="433px;" />
                    <div class="card-block">
                        <h5 class="card-title"><b>{{ movie.title }} - {{ movie.year }}</b></h5>
                        <p class="card-text" style="height:100px;">{{ movie.plot }}</p>
                    </div>
                    <div class="card-block">
                        <button class="btn btn-primary btn-block" type="button" @click="RedirectToDetail(movie.imdbID)">Detail</button>
                    </div>
                </div>
                <br />

            </div>
        </div>
        <div class="row" v-else-if="noData">
            <div class="alert alert-danger" role="alert">
                <p>No Results Found</p>
            </div>
        </div>
    </div>


</template>

<script src="./movies.ts"></script>
